.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: whitesmoke; /* light background */
  padding: 40px 0;
  text-align: center;
}

.marquee-title {
  color: #111827;
  font-size: 2rem;
  margin-bottom: 15px;
}

.marquee-subtitle {
  color: #333333;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.marquee {
  display: flex;
  width: fit-content;
  animation: scroll-marquee 10s linear infinite;
  align-items: center;
}

.marquee img {
  width: 120px;
  height: 60px;
  margin: 0 30px;
  object-fit: contain;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .marquee-title {
    font-size: 1.5rem;
  }
  
  .marquee-subtitle {
    font-size: 1rem;
  }
  
  .marquee img {
    width: 80px;
    height: 40px;
    margin: 0 15px;
  }
}
