.collaboration-section {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.collaboration-section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: flex;
  width: fit-content;
  animation: scroll 30s linear infinite;
}

.marquee-content img {
  height: 100px;
  width: auto;
  margin: 0 20px;
  object-fit: contain;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.marquee-content img:hover {
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
